<template>
    <div class="flex border-b border-40">
        <div class="w-1/5 py-6 px-8"><label :for="field.attribute" class="inline-block text-80 pt-2 leading-tight">
            {{ __(field.name + '.label') }}
        </label></div>
        <div class="py-6 px-8 w-1/2">
            <div class="image-area">
                <div class="image-placeholder" v-if="image == null">
                    <i class="material-icons">add_photo_alternate</i>
                </div>
                <img :src="image" v-if="image != null">
                <div class="delete-image" @click="onClickDeleteHandler" v-if="image != null">
                    <i class="material-icons">close</i>
                </div>
            </div>
            <button class="btn btn-default btn-primary inline-flex items-center relative" @click.prevent="onUploadClickHandler">{{ __('Upload Image') }}</button>
            <input
                ref="upload"
                :id="field.attribute"
                type="file"
                :placeholder="__(field.name + '.placeholder')"
                class="hide"
                @change="onChangeFileHandler"
                :readonly="field.readonly"
            >
            <!---->
            <div class="help-text help-text mt-2">  </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ImageField",
        props: ['field'],
        mounted() {
            this.image = this.field.value;
        },
        data() {
            return {
                image: null,
            };
        },
        methods: {
            onUploadClickHandler(event) {
                this.$refs['upload'].click();
            },
            onChangeFileHandler(event) {
                const file = event.target.files[0];
                const self = this;
                if (!file.type.match('image.*')) {
                    return false;
                }
                const reader = new FileReader();
                reader.onload = file => {
                    self.image = file.currentTarget.result;
                };
                reader.readAsDataURL(file);
                event.target.value = null;
                this.$emit('fileUploadChanged', {
                    file: file,
                    field: this.field
                });
            },
            onClickDeleteHandler() {
                this.image = null;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .hide {
        display: none;
    }
    .image-area {
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        border-radius: .5rem;
        img {
            object-fit: contain;
            height: 100px;
            width: 200px;
        }
        .delete-image {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 20;
            background: rgba(227, 52, 47, .7);
            color: #fff;
            opacity: 0;
            cursor: pointer;
            transition: opacity .2s ease-in;
            &:hover {
                opacity: 1;
            }
        }
    }
    .image-placeholder {
        border: 2px dashed var(\-\-60);
        height: 100px;
        width: 200px;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(\-\-60);
    }
</style>
