<template>
    <div class="flex border-b border-40">
        <div class="w-1/5 py-6 px-8"><label :for="field.attribute" class="inline-block text-80 pt-2 leading-tight">
            {{ __(field.name + '.label') }}
        </label></div>
        <div class="py-6 px-8 w-1/2">
            <input
                :id="field.attribute"
                type="text"
                :placeholder="__(field.name + '.placeholder')"
                class="w-full form-control form-input form-input-bordered"
                v-model="field.value"
                :readonly="field.readonly"
            >
            <!---->
            <div class="help-text help-text mt-2">  </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TextField",
        props: ['field']
    }
</script>

<style scoped>

</style>
