<template>
    <div class="tab-content">
        <slot>Content</slot>
    </div>
</template>

<script>
    export default {
        name: "TabContent"
    }
</script>

<style lang="scss" scoped>
    .tab-content {
        padding: 20px;
    }
</style>
