<template>
    <div class="tab-list">
        <div :class="className('general')" @click="onClickTabHandler('general')">{{ __('General') }}</div>
        <div :class="className('email')" @click="onClickTabHandler('email')">{{ __('Email') }}</div>
        <div :class="className('analytics')" @click="onClickTabHandler('analytics')">{{ __('Analytics') }}</div>
        <div :class="className('advanced')" @click="onClickTabHandler('advanced')">{{ __('Advanced') }}</div>
    </div>
</template>

<script>
    export default {
        name: "TabList",
        props: ['currentTab'],
        data() {
            return {

            };
        },
        methods: {
            onClickTabHandler(name) {
                this.$emit('changeTab', {
                    currentTab: name
                })
            },
            className(name) {
                const className = ['tab-list-item'];
                if (this.currentTab === name) {
                    className.push('active');
                }
                return className.join(' ');
            }
        },
        computed: {

        }
    }
</script>

<style lang="scss" scoped>
    .tab-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid var(\-\-50); /* Weird stuff in scss */
        .tab-list-item {
            padding: 20px;
            background: #fff;
            position: relative;
            font-weight: 600;
            cursor: pointer;
            transition: color .2s;
            &:before {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                width: 0;
                left: 50%;
                right: 50%;
                height: 3px;
                background: transparent;
                transition: .2s;
            }
            &:hover, &.active {
                color: var(--primary);
                &:before {
                    width: 100%;
                    background: var(--primary);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
</style>
