<template>
    <loading-view :loading="loading">
        <div>
            <heading class="mb-3">{{ __('Settings') }}</heading>
            <card class="overflow-hidden">
                <tab-list :currentTab="currentTab" @changeTab="changeTab"></tab-list>
                <tab-content v-if="currentTab === 'general'">
                    <form v-if="fields" @submit.prevent="saveData" autocomplete="off">
                    <!-- Fields -->
                    <div v-for="field in fields.general">
                        <component
                            :is="'app-form-' + field.component"
                            :field="field"
                            @fileUploadChanged="fileUploadChanged"
                        ></component>
                    </div>
                        <div class="bg-30 flex px-8 py-4 tab-footer">
                            <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative ml-auto mr-0">{{ __('Save') }}</button>
                        </div>
                    </form>
                </tab-content>
                <tab-content v-if="currentTab === 'analytics'">
                    <form v-if="fields" @submit.prevent="saveData" autocomplete="off">

                    <div v-for="field in fields.analytics">
                        <component
                            :is="'app-form-' + field.component"
                            :field="field"
                            @fileUploadChanged="fileUploadChanged"
                        ></component>
                    </div>
                        <div class="bg-30 flex px-8 py-4 tab-footer">
                            <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative ml-auto mr-0">{{ __('Save') }}</button>
                        </div>
                    </form>
                </tab-content>
                <tab-content v-if="currentTab === 'email'">
                    <form v-if="fields" @submit.prevent="saveData" autocomplete="off">
                        <div v-for="field in fields.email">
                            <component
                                :is="'app-form-' + field.component"
                                :field="field"
                                @fileUploadChanged="fileUploadChanged"
                            ></component>
                        </div>
                    <div class="bg-30 flex px-8 py-4 tab-footer">
                        <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative ml-auto mr-0">{{ __('Save') }}</button>
                    </div>
                    </form>
                </tab-content>
                <tab-content v-if="currentTab === 'advanced'">
                    <form v-if="fields" @submit.prevent="saveData" autocomplete="off">
                        <div v-for="field in fields.advanced">
                            <component
                                :is="'app-form-' + field.component"
                                :field="field"
                                @fileUploadChanged="fileUploadChanged"
                            ></component>
                        </div>
                        <div class="bg-30 flex px-8 py-4 tab-footer">
                            <button type="submit" class="btn btn-default btn-primary inline-flex items-center relative ml-auto mr-0">{{ __('Save') }}</button>
                        </div>
                    </form>
                </tab-content>
            </card>
        </div>
    </loading-view>
</template>

<script>
    import { Errors, Minimum, InteractsWithResourceInformation } from 'laravel-nova';
    import AppFormTextField from './Form/TextField';
    import AppFormImageField from './Form/ImageField';
    import TabList from "./Tabs/TabList";
    import TabContent from "./Tabs/TabContent";

    export default {
        async created() {
            this.getFields();
        },
        data() {
            return {
                loading: true,
                fields: [],
                uploads: {},
                currentTab: 'general',
                validationErrors: new Errors(),
            }
        },
        components: {
            TabList,
            TabContent,
            AppFormTextField,
            AppFormImageField,
        },
        methods: {
            changeTab(payload) {
                this.currentTab = payload.currentTab;
            },
            async getFields() {
                this.fields = [];
                const { data: fields } = await Nova.request().get(
                    '/nova-vendor/design-code/settings'
                );

                this.fields = fields;
                this.loading = false;

                if (fields.length === 0) {
                    this.loading = true;
                    await Nova.request().get('/nova-vendor/design-code/settings/install');
                    const { data: fields } = await Nova.request().get(
                        '/nova-vendor/design-code/settings'
                    );
                    this.loadData(fields);

                }
            },
            async loadData(fields) {
                this.fields = fields;
                this.loading = false;
            },
            async saveData() {
                const formData = new FormData;
                formData.append('fields', JSON.stringify(this.fields));
                if (Object.keys(this.uploads).length > 0) {
                    formData.append(this.uploads.name, this.uploads.file, this.uploads.file.name);
                }
                const { data: fields } = await Nova.request().post(
                    '/nova-vendor/design-code/settings',
                    formData
                );
                this.fields = fields;
            },
            detectFieldChange(event) {
                console.log(event.target.value);
            },
            fileUploadChanged(payload) {
                this.uploads = {
                    file: payload.file,
                    name: payload.field.name,
                };
            }
        }
    }
</script>

<style lang="scss" scoped>
    /* Scoped Styles */
    .tab-footer {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
    }
</style>
